BASE_URL=http://127.0.0.1:5000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
SEED_DONOR_USERNAME=hamza
SEED_DONOR_PASSWORD=your_donor_password
SEED_HOSPITAL_USERNAME=dow
SEED_HOSPITAL_PASSWORD=your_hospital_password
